<div class="container">
  <div class="container-text">
    <h1>I Jornada da Operação Óleo Diesel</h1>
    <p>
      Lorem Ipsum has been the industry's standard dummy text
      ever since the 1500s, when an unknown printer took a galley
      of type and scrambled it to make a type specimen book
    </p>
  </div>
  <div class="none"></div>
  <form action="#" method="post" class="menu-float">
    <input type="text" placeholder="name">
    <input type="text" placeholder="email">
    <button type="submit"><strong>Cadastrar</strong> </button>
  </form>
</div>